<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.jpeg" %>
	</div>

	<div id="content">
		<h1>Hey, I'm Juan Pablo Fernandez</h1>
		<p>This is week 2 in Mackenzie Child's 12 Weeks Challenge <a href="https://mackenziechild.me/12-in-12">video tutorial series</a>.</p>
		<p>This week I built a blog in Rails 4.</p>
		<p>If you'd like to follow along as I learn more Ruby on Rails, find me on Twitter <a href="https://twitter.com/juanpablofrdz1">@juanpablofrdz1</a> or on the web at <a href="http://juanpablofernandez.me">juanpablofernandez.me</a></p>
	</div>
</div>
